<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>708584789862-g7gp3i6i4lut41dferjq4rlh9u9450up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708584789862-g7gp3i6i4lut41dferjq4rlh9u9450up</string>
	<key>API_KEY</key>
	<string>AIzaSyD-XBlUu3z_BHrpKUhlOJEWriVILGtZiIo</string>
	<key>GCM_SENDER_ID</key>
	<string>708584789862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HocSwift.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-971b9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-971b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708584789862:ios:aecbff1be6debc59</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-971b9.firebaseio.com</string>
</dict>
</plist>